{% extends "index.html" %}

{% block title %} Premium Calculator {% endblock %}

{% block body %}

<div class="introductionbody">
    <section class='introcontent'>
        <h2 style='text-align:center;padding-top:15px;'> Insurance Premium Calculator </h2>

        <p class='intropassage'>
            &nbsp;&nbsp;&nbsp;The Insurance Premium Calculator is a machine learning-based solution developed to accurately estimate insurance premiums for customers. This project, aims to streamline the process of premium calculation by leveraging ML algorithms to evaluate multiple factors that influence insurance costs. By incorporating a diverse range of customer data, such as age, health metrics and claim history, our model provides precise and fair premium estimates.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;The primary objective of this project is to enhance the efficiency and accuracy of premium calculations, reducing the reliance on manual assessments and minimizing the risk of human error. This automated approach not only ensures consistency but also adapts to emerging trends and patterns in the data, allowing for continuous improvement in prediction accuracy.
        </p>

        <section class='keyhighlights'>
            <h3 class='keyhighlightstitle'>Key features of the Insurance Premium Calculator include:</h3>

            <p class='highlight'>
                &nbsp;<b>1. Data Integration</b>: Aggregates and processes data consisting of various metrics helpful in calculating the premium.<br>
                &nbsp;<b>2. ML Algorithms</b>: Utilizes machine learning models to analyze complex patterns and relationships.<br>
                &nbsp;<b>3. Scalability</b>: Designed to handle large volumes of data, making it suitable for both small and large insurance firms.<br>
                &nbsp;<b>4. User-Friendly Interface</b>: Simplifies the user experience by providing clear and actionable insights for both insurers and customers.<br>
            </p>
        </section>

        <section class='introend'>
            This project represents a significant step forward in the automation and optimization of insurance premium calculations, ensuring fair pricing and improving the overall customer experience.
        </section>
    </section>

    <section class='buttonbox'>
        <button type="button" class="btn btn-primary">Calculate My Premium</button>
    <section>
</div>


{% endblock %}
