@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.introductionbody{
    height: 80%;
    width: 70%;
    background-color: rgb(254, 254, 199);
    border: 3px solid rgb(252, 248, 1);
    border-radius: 15px;
    margin: 3% 0px 50px 14%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.intropassage{
    padding: 0px 20px;
}

.keyhighlightstitle{
    padding: 0px 20px;
}

.highlight{
    padding: 0px 20px;
    }

.introend{
    padding: 0px 20px;
    margin-bottom: 20px;
}

.buttonbox{
    /* margin-left: 37%; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn:hover{
    background-color: rgb(199, 249, 124);
    color: green;
    font-weight: bold;
}

